*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.donate-today{
    color: whitesmoke;
    background: url(img/donation13.jpg) no-repeat center;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    opacity: .9;
    
    text-align: center;
}
.text{
    padding-top: 300px;
    text-align: center;
    
}

.link-bottom{
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    background-color: tomato;
    color: whitesmoke;
    border-radius: 5PX;
}

.TODAY{
    text-align: center;
    padding: 310px;
}
.td {
    margin: 10px;
    text-align: center;
    padding: 30px;
}
.td>a {
    text-decoration: none;
    background-color: #cacaca8b;
    margin: 4px;
    text-align: center;
    padding: 8px;
}

.main{
    text-align: center;
    padding-top: 110px;
}










.profile {
    text-align: center;
    box-shadow: 4px 5px 10px #cacaca;
    width: 22%;
    padding: 15px;
    transition: .5s;

}


.profile>img {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.profile>h1 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium';
}

.profile>.family {
    font-weight: bold;
}

.profile>.depertment {
    font-weight: bold;
}

.containers {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding: 100px;
}

.consequuntur{
    padding: 100px;
}

.content{
    display: flex;
    padding: 17px;
    justify-content: space-around;
    
}
.content>img {
    height: 300px;
}

.containersr{
    padding: 100px;
}

.haf-weight{
    display: flex;

}


.haf-weight>img{
    height: 250px;

}
#content{
    padding: 100px;
    text-align: center;
}
.crossorigin{
    margin: 50px;
    text-align: justify;
    align-items: center;
   justify-content: space-around;    
}

.consecteturullam{
    text-align: center;
    background-color: #d14e372e;
    padding: 40px;
}
.email{
    text-align: center;
    padding: 5px;
}    


.contentr{
    text-align: center;
    padding: 80px;
    background-color: #000000;
    color: #f5f5f5;
}





